<!-- {% load static %} -->
<html>
    <head>
        <title>b-game-site</title>
        <!-- {% comment %} bulumaのやつ {% endcomment %} -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <!-- {% comment %} vueのやつ {% endcomment %} -->
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    </head>
    <body>
        <!-- {% comment %} headerを作成 {% endcomment %} -->
        <header class="nav">
            <div class="nav-left">
                <span class="nav-item">
                    <span class="fa fa-language"></span>B-GAME
                </span>
            </div>
        </header>
        <div class="hero is-info is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">B-GAME</h1>
                    <h2 class="subtitle">stmn_site</h2>
                </div>
            </div>
        </div>
    </body>
</html>